.NameBox {
    display: flex;
    flex-direction: column;
    background: linear-gradient(
        107.3deg,
        #212121 8.54%,
        rgba(33, 33, 33, 0) 90.34%
      ),
      linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2));
    border: 1px solid #ffffff33;
    width: 531px;
    background-image: url('../../images/noise.png');
    border-radius: 17px;
}
.name{
    font-family: "Notable", sans-serif;
    font-size: 110px;
    font-weight: 400;
    line-height: 135px;
    letter-spacing: 0em;
    text-align: left;
    color:#E8E8E8;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-bottom: 10px; */
}
@media only screen and (max-width: 650px) {
    .NameBox{
        width: 100%;
    }
    .name{
        font-size: 43px;
        line-height: 42.59px;
        width: 400;
        padding: 20px;
    }
}
@media only screen and (min-device-width: 650px) and (max-width: 930px){
    .NameBox{
        width: 100%;
    }
    .name{
        font-size: 48px;
        line-height: 63.89px;
        width: 400;
        padding: 20px;
    }
}