.ACbox{
    display: flex;
  flex-direction: column;
  background: linear-gradient(107.3deg, #212121 8.54%, rgba(33, 33, 33, 0) 235%),
    linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2));
  border: 1px solid #ffffff33;
  border-radius: 17px;
  /* height: 315px; */
  width: 100%;
  padding-bottom: 20px;
  background-image: url('../../images/noise.png');
}
.ACheading{
    font-family: 'Notable';
  font-size: 30px;
  font-weight: 400;
  line-height: 39px;
  letter-spacing: 0em;
  text-align: left;
  color: #e8e8e8;
  margin: 10px;
  margin-left: 30px;
}
.ABox{
    display: flex;
  flex-direction:  column;
  /* margin-left: 30px; */
  margin-right: 42px;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.Awords{

font-family: 'Palanquin';
font-size: 20px;
font-weight: 400;
line-height: 32px;
letter-spacing: 0em;
text-align: left;
color:  #6C6C6C;

}
.Awords {
    border-bottom: 1px solid #6B6B6B; /* Add a bottom border with 1px thickness and black color */
    padding-bottom: 8px; /* Add some padding to separate the line from the text */
    margin-bottom: 8px; /* Add margin to create space between achievements */
}

@media only screen and (max-width: 650px) {
  .ACbox{
    width: 100%;
  }
  .ABox{
    margin-left: 12px;
    margin-right: 12px;
  }
  .ACheading{
    margin-left: 12px;
  }
  .ACheading{
    font-size: 25px;
  }
}
@media only screen and (min-device-width: 650px) and (max-width: 930px){
  .ACbox{
    width: 100%;
  }
  .ABox{
    margin-left: 12px;
    margin-right: 12px;
  }
  .ACheading{
    margin-left: 12px;
  }
  .ACheading{
    font-size: 25px;
  }
}