*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    color: #E8E8E8;
    font-family: 'Notable' , sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
header h1{
    letter-spacing: 0em;
    font-size: 65px;
    text-align: left;
    justify-content: center;
    align-items: center;
}
.imgHeader{
    height: 47px;
    border-radius: 19px;
}
/* Phone */
@media only screen and (max-width: 600px) {
    header{
        margin-left: 30px;
        margin-right: 30px;
    }
    header h1{
        font-size: 40px;
        line-height: 62.4px;
        font-weight: 400;
    }
}
@media only screen and (min-device-width: 650px) and (max-width: 930px){
    header{
        margin-left: 30px;
        margin-right: 30px;
    }
    header h1{
        font-size: 48px;
        line-height: 62.4px;
        font-weight: 400;
    }
}