@import url('https://fonts.googleapis.com/css2?family=Notable&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Palanquin&display=swap');

body{
  background-color: #171717;
}
.middle{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  gap: 50px;
}
.Cover{
  margin-left: 50px;
  margin-right: 50px;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

@media only screen and (max-width: 650px) {
  .middle{
    margin-top: 20px;
    flex-direction: column;
    gap: 20px;
    width: 100%;
  }
  .Cover{
    margin: 30px;
  }
}

@media only screen and (min-device-width: 650px) and (max-width: 930px){
  .middle{
    margin-top: 20px;
    flex-direction: column;
    gap: 20px;
    width: 100%;
  }
  .Cover{
    margin: 30px;
  }
}