@import url('https://fonts.googleapis.com/css2?family=Notable&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Palanquin&display=swap');

body{
  background-color: #171717;
}
.middle{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  gap: 50px;
}
.Cover{
  display: flex;
  flex-direction: column;
}
@media only screen and (max-width: 600px) {
  .middle{
    margin-top: 20px;
    flex-direction: column;
    gap: 20px;
  }
  .Cover{
    margin-bottom: 30px;
  }
}