@import url('https://fonts.googleapis.com/css2?family=Notable&display=swap');

body{
  background-color: #171717;
}
.middle{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  gap: 50px;
}